<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuotingBot.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <QuotingBot.Common.Properties.Settings>
      <setting name="QuotingBot_Common_RelayHouseholdService_Household"
        serializeAs="String">
        <value>https://services2.relay.ie/relay.homerates.services.webservices/household.asmx</value>
      </setting>
      <setting name="QuotingBot_Common_RelayFullCycleMotorService_RelayFullCycleMotorService"
        serializeAs="String">
        <value>http://services2.relay.ie/relaymotorservicefour/relayfullcyclemotorservice.asmx</value>
      </setting>
    </QuotingBot.Common.Properties.Settings>
  </applicationSettings>
</configuration>